{% extends 'base.html.twig' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block body %}
    <h1>Crear nuevo Cliente</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">volver a la lista</a>
{% endblock %}
