{% extends 'base.html.twig' %}

{% block title %}Nuevo Empleado{% endblock %}

{% block body %}
    <h1>Crear nuevo Empleado</h1>

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('employee_index') }}">volver a la lista</a>
{% endblock %}
